@import url('https://cdn.jsdelivr.net/npm/water.css@2/out/water.css');


.counter {
  border: 1px solid #000;
  padding: 20px;
  box-shadow: 5px 5px 10px gray;
  display: inline-block;
  width: 400px;
  text-align: left;
}

